<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Backup Hub{% endblock %}</title>
    {% if favicon_url %}
        <link rel="icon" href="{{ favicon_url }}">
    {% endif %}
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
</body>
</html>
